%%% -*- Mode: Erlang; fill-column: 75; comment-column: 50; -*-
%%% -------------------------------------------------------------------
%%%
%%% Copyright (c) 2015 jrobhoward (jrobhoward@gmail.com)
%%%
%%% This file is provided to you under the Apache License,
%%% Version 2.0 (the "License"); you may not use this file
%%% except in compliance with the License.  You may obtain
%%% a copy of the License at
%%%
%%%   http://www.apache.org/licenses/LICENSE-2.0
%%%
%%% Unless required by applicable law or agreed to in writing,
%%% software distributed under the License is distributed on an
%%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%%% KIND, either express or implied.  See the License for the
%%% specific language governing permissions and limitations
%%% under the License.
%%%
%%% -------------------------------------------------------------------
{erl_opts, [debug_info]}.

%% explicitly set 3pp version at top level, to ensure consistency
{deps, [
        {basho_stats, ".*", {git, "/opt/3pp/basho_stats", {branch, "localbuild"}}},
        {bear, ".*", {git, "/opt/3pp/bear", {branch, "localbuild"}}},
        {clique, ".*", {git, "/opt/3pp/clique", {branch, "localbuild"}}},
        {cuttlefish, ".*", {git, "/opt/3pp/cuttlefish", {branch, "localbuild"}}},
        %%{demo_cxx, ".*", {git, "/home/jhoward/apps/demo_cxx", {branch, "master"}}},
        %%{demo_www, ".*", {git, "/home/jhoward/apps/demo_www", {branch, "master"}}},
        {edown, ".*", {git, "/opt/3pp/edown", {branch, "localbuild"}}},
        {eleveldb, ".*", {git, "/opt/3pp/eleveldb", {branch, "localbuild"}}},
        {exometer_core, ".*", {git, "/opt/3pp/exometer_core", {branch, "localbuild"}}},
        {folsom, ".*", {git, "/opt/3pp/folsom", {branch, "localbuild"}}},
        {getopt, ".*", {git, "/opt/3pp/getopt", {branch, "localbuild"}}},
        {goldrush, ".*", {git, "/opt/3pp/goldrush", {branch, "localbuild"}}},
        {lager, ".*", {git, "/opt/3pp/lager", {branch, "localbuild"}}},
        {meck, ".*", {git, "/opt/3pp/meck", {branch, "localbuild"}}},
        {mochiweb, ".*", {git, "/opt/3pp/mochiweb", {branch, "localbuild"}}},
        {neotoma, ".*", {git, "/opt/3pp/neotoma", {branch, "localbuild"}}},
        {parse_trans, ".*", {git, "/opt/3pp/parse_trans", {branch, "localbuild"}}},
        {pbkdf2, ".*", {git, "/opt/3pp/erlang-pbkdf2", {branch, "localbuild"}}},
        {pbkdf2, ".*", {git, "/opt/3pp/lager", {branch, "localbuild"}}},
        {poolboy, ".*", {git, "/opt/3pp/poolboy", {branch, "localbuild"}}},
        {riak_core, ".*", {git, "/opt/3pp/riak_core", {branch, "localbuild"}}},
        {riak_ensemble, ".*", {git, "/opt/3pp/riak_ensemble", {branch, "localbuild"}}},
        {riak_sysmon, ".*", {git, "/opt/3pp/riak_sysmon", {branch, "localbuild"}}},
        {setup, ".*", {git, "/opt/3pp/setup", {branch, "localbuild"}}},
        {webmachine, ".*", {git, "/opt/3pp/webmachine", {branch, "localbuild"}}}
       ]}.

{relx, [
        {release, {rel_alpha, "0.0.1"},[
					   cuttlefish,
					   debugger,
					   %%demo_cxx,
					   %%demo_www,
					   edown,
					   inets,
					   observer,
					   riak_core,
					   runtime_tools,
					   sasl,
					   setup,
					   ssh,
					   webmachine,
					   wx
					  ]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {overlay, [{copy,"./config/riak_core.schema","lib/riak_core.schema"}]},
        {extended_start_script, true}]}.

{cover_enabled, true}.
